.first{
    text-align: center;
    background-color: bisque;
    padding: 40px;
    margin: 80px;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 15px;
}

.second{
    text-align: center;
    background-color:aquamarine;
    padding: 40px;
    margin: 80px;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 15px;
}